<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassesAndStructs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7F132E31BD92AB600A3C502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F132F71BD92AB700A3C502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F133021BD92AB700A3C502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
